/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main
  padding-top: 45px
  &_header
    padding: 30px 15px
    background: #f3f3f3
    text-align: center
    &__title
      font-size: 28px
      color: #192469
      line-height: 1
      font-weight: normal
    &__caption
      margin-top: 8px
      font-size: 14px
      color: #777
      line-height: 1


/*----------------------------------------------------------
 contents
------------------------------------------------------------*/

.contents
  padding: 30px 15px 50px

.section
  &_header
    margin-bottom: 30px
    &__title
      font-size: 20px
      font-weight: bold
    &__caption
      font-size: 12px
      color: #777


/*----------------------------------------------------------
 sidebar
------------------------------------------------------------*/

.sidebar
  &_nav
    background: #fff
    &__header
      padding: 15px
      background: #192469
      mixin--indicate-plus(16px, #d1d4e0, 15px)
      &.active
        mixin--indicate-minus(16px, #d1d4e0, 15px)
    &__caption
      display: none
    &__title
      color: #fff
    &__list
      > li
        border-bottom: 1px solid #ddd
        a
          display: block
          padding: 15px
          font-size: 14px
          color: $color_text_default
          mixin--arrow-right(10px, #ccc, 15px)



