<footer class="footer" id="FooterView">
    <div class="footer__btn--pageTop js-btnPagetop"><a href="#PageView">PAGE TOP</a></div>
    <div class="footer_nav">
      <div class="inner">
        <ul class="footer_nav__list">
          <li><a href="/team/">チーム</a></li>
          <li><a href="/player/">選手</a></li>
          <li><a href="/data/">データ</a></li>
          <li><a href="/documents/">ドキュメント</a></li>
        </ul>
        <ul class="footer_nav__list">
          <li><a href="http://www.konami.jp/pawa/index.php5" target="_blank">パワプロ通信</a></li>
        </ul>
        <p class="footer__attention">
          当サイトは個人的な情報を扱うサイトです。<br>
          また、使用している画像等は著作権法に違反するため、一般への公開はしておりません。
        </p>
      </div>
    </div>
    <p class="footer__copyright"><small>&copy; Powered by <a href="http://kim0ran.com/" target="_blank">Kim0ran</a></small></p>
  </footer>