<header class="header" id="HeaderView">
    <div class="header__inner inner">
      <h1 class="header__logo"><a href="/"><img src="/common/img/logo_kim0ran.svg" alt="パワプロ選手データ"></a></h1>
      <nav class="globalNav js-globalNav">
        <div class="globalNav__btnToggle js-btnGlobalNavToggle"></div>
        <ul class="globalNav__list js-globalNavList">
          <li><a href="/team/">チーム</a></li>
          <li class="current"><a href="/player/">選手</a></li>
          <li><a href="/data/">データ</a></li>
          <li><a href="/documents/">ドキュメント</a></li>
          <li><a href="/">ホーム</a></li>
        </ul>
      </nav>
    </div>
  </header>