<% var title = title || ''; %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><% if(title !== '') { %><%= title %>｜<% } %></title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/common/css/common.css">