<div class="narrowPanel">
          <div class="narrowPanel_header">
            <dl class="narrowPanel_header__list--selected">
              <dt>絞り込み条件</dt>
              <dd>
                <ul class="narrowPanel_header__list--tag">
                  <li><span class="tag--blue">タグ</span></li>
                  <li><span class="tag--blue">タグ</span></li>
                  <li><span class="tag--blue">タグ</span></li>
                  <li><span class="tag--blue">タグ</span></li>
                  <li><span class="tag--blue">タグ</span></li>
                  <li><span class="tag--blue">タグ</span></li>
                </ul>
              </dd>
            </dl>
            <div class="narrowPanel_header__btnArea">
              <span class="">条件を変更</span>
            </div>
          </div>
          <div class="narrowPanel_main">
            <dl class="">
              <dt>カテゴリ</dt>
              <dd>
                <ul class="">
                  <li></li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="narrowPanel_footer">
            <button type="button">絞り込む</button>
          </div>
        </div>