<div class="thumbList" id="ThumbListView">
  <div class="thumbList__inner js-sliderOuter">
    <ul class="thumbList__list js-sliderList">
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
      <li class="thumbList__item">
        <a href="#">
          <figure>
            <span></span>
            <figcaption>あいうえお</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
  <div class="thumbList__btn thumbList__btn--prev js-sliderBtnPrev">前へ</div>
  <div class="thumbList__btn thumbList__btn--next js-sliderBtnNext">次へ</div>
</div>