/*----------------------------------------------------------
 icon
------------------------------------------------------------*/

.tag
  &--blue
    display: inline-block
    padding: 2px 10px 
    vertical-align: middle
    background: #ccc
    border-radius: 2px
    font-size: 10px
    line-height: 1em