/*----------------------------------------------------------
 font
------------------------------------------------------------*/

// font-family
$font_family_brandon = "Brandon";
$font_family_notoSansJp = "Noto Sans Japanese";
$font_family_pc = $font_family_notoSansJp;
$font_family_sp = $font_family_pc;

// font-size
$font_size_default = 16px;
$font_size_min = 12px;
$font_size_s = 14px;
$font_size_m = 18px;
$font_size_l = 20px;


// line-height
$line_height_default = 1.5em;