/*----------------------------------------------------------
 layout
------------------------------------------------------------*/

// width
$width-max_pc = 1500px
$width-min_pc = 980px

// media queries
$mq-sp = "screen and (max-width: 767px)";
$mq-pc = "screen and (min-width: 768px)";